.summary_table{
    margin-left: 10%;
}

.table-bordered td, .table-bordered th {
    white-space: nowrap;
}

.table a td {
    border: none;
}

@media screen and (max-width: 600px) {
    .summary_table{
        margin-top: 5%;
        margin-left: 50px;
        font-size: 14px;
        width: 270px;
    }
}